<header class="header">
  <div class="header-inner">
    <h1>Welcome to SimpleSearch</h1>
    <%= form_with(url: articles_path, method: :get, data: { controller: "search-form", turbo_frame: "articles", turbo_action: "advance" }) do |form| %>
      <div class="search-bar-container">
        <%= form.text_field :query, autocomplete: :off, data: { action: "input->search-form#search" }, class:'search-bar search-bar-with-icon', placeholder:'Search articles...' %>
      </div>
    <% end %>
  </div>
  <div class='articles-container'>
    <h2 class='heading-articles'> List of articles </h2>
    <div class='articles'>
      <div class="column">
        <%= render "articles", articles: @articles %>
      </div>
    </div>
  </div>
</header>
