<div class='search-data'>
<div class='heading-search'>
    <h1 class='heading-article'>List of recent searches</h1>
    </div>
    </div>
    <div class='searches-list'>
    <%= render @searches %>
    </div>
