/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Lato", sans-serif;
  }

  .navbar {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 0px 70px;
    background-color: #fff;
  }

  .navbar-logo {
    color: #348fff;
    text-decoration: none;
    font-size: 25px;
    padding: 0px 20px;
  }

  .menu{
    display: flex;
  }

  .navbar-links {
    list-style-type: none;
    display: flex;
  }
  
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: #444;
    padding: 20px 20px;
    font-weight: 500;
    font-size: 18px;
    transition: 0.4s all;
  }
  
  .navbar-links li.navbar-dropdown {
    position: relative;
  }

  .navbar-links li a:hover {
    color: #349aff;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-size: cover;
  }
  
  .header-inner {
    text-align: center;
    color: #348fff;
  }
  
  .header-inner h1 {
    font-family: "Great Vibes", cursive;
    font-size: 130px;
  }

  .search-bar{
    margin: 30px 0 30px 0;
    width: 40%;
    border: 2px solid #b8b8b8;
    padding: 5px;
    font-size: 16px;
    height: 40px;
    font-family: "Lato", cursive;
    border-radius: 10px;
    outline: none;
    color: #b8b8b8;
  }
  
  .search-bar:focus{
    color: #2f2f2f;
  }

  .heading-articles{
    margin-top: 40px;
    color: #348fff;
  }
  
  .articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    color: black;
    box-shadow: none;
  }

  .article{
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 25px; 
  }

.search-data{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
      color: rgb(113, 113, 113);
      list-style: none;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
    }
    .col-1 {
      flex-basis: 90%;
    }
    .col-2 {
      flex-basis: 10%;
    }
  