<nav class="navbar">
  <a href="#" class="navbar-logo">SimpleSearch</a>
  <div class="menu">
    <ul class="navbar-links">
      <li class="navbar-dropdown">
        <%= link_to "Search", root_path %>
      </li>
      <li class="navbar-dropdown">
        <%= link_to "Analytics", searches_path %>
      </li>
    </ul>
  </div>
</nav>
